@page "/"
@inject ITodoService TodoTaskService

<div class="d-flex flex-column justify-content-between p-3" style="height:100vh">
    <div class="mb-3 row justify-content-between">
        <div class="col-auto fs-4">
            <ThemeTogglerButton />
            <GithubRepoLaunchButton />
            <span class="fw-bold">>_ Tosk</span>
        </div>
        <div class="col-auto" >
            <InputRadioGroup @bind-Value="FilterBy">
                <div class="btn-group" role="group">
                    <InputRadio Value="FilterBy.All" id="all" class="btn-check" />
                    <label class="btn btn-outline-secondary" for="all">
                        <i class="bi bi-sunglasses"></i> All
                    </label>

                    <InputRadio Value="FilterBy.Completed" id="completed" class="btn-check" />
                    <label class="btn btn-outline-success" for="completed">
                        <i class="bi bi-check-circle-fill"></i> Completed
                    </label>

                    <InputRadio Value="FilterBy.Important" id="important" class="btn-check" />
                    <label class="btn btn-outline-warning" for="important">
                        <i class="bi bi-star-fill"></i> Important
                    </label>
                </div>
            </InputRadioGroup>
        </div>
    </div>
    <div class="overflow-auto remove-scrollbar" tabindex="-1" style="outline: none">
        <ol class="list-group  list-group-flush">
            @foreach (var todo in Todos)
            {
                <li class="list-group-item rounded @(todo.IsImportant ? "list-group-item-warning" : "") d-flex justify-content-between align-items-center">
                    <div class="ms-2">
                        <div class="fw-bold overflow-auto @(todo.IsCompleted ? "line-through-complete" : "")">
                            @todo.Title
                        </div>
                    </div>
                    <div class="row ms-2 align-items-center justify-content-end flex-wrap-reverse">
                        <div class="col-auto">
                            @if (todo.IsCompleted)
                            {
                                <span class="badge text-bg-success rounded-pill">@todo.CompletedAt</span>
                            }
                        </div>
                        <div class="col-auto text-nowrap">
                            <button class="btn" @onclick="() => todo.ToggleCompletion()">
                                <i class="bi @(todo.IsCompleted ? "bi-check-circle-fill text-success" : "bi-check-circle")" />
                            </button>
                            <button class="btn" @onclick="() => todo.ToggleImportance()">
                                <i class="bi @(todo.IsImportant ? "bi-star-fill text-warning" : "bi-star")" />
                            </button>
                        </div>                        
                    </div>
                </li>
            }
        </ol>
    </div>
    <div class="mt-3">
        <form class="row" @onsubmit="() => TodoTaskService.Add(TodoTitle)">
            <div class="col">
                <InputText @bind-Value="TodoTitle" class="form-control" placeholder="Add a task!" required autofocus />
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-plus-lg"></i>
                </button>
            </div>
        </form>
    </div>
</div>

@code {
    string TodoTitle { get; set; } = string.Empty;

    FilterBy FilterBy { get; set; }

    IEnumerable<Models.Todo> Todos => FilterBy switch
    {
        FilterBy.Completed => TodoTaskService.GetAllCompleted(),
        FilterBy.Important => TodoTaskService.GetAllImportant(),
        _ => TodoTaskService.GetAll(),
    };
}
